Source: julia
Priority: extra
Maintainer: Debian Julia Team <pkg-julia-devel@lists.alioth.debian.org>
Uploaders: Sébastien Villemot <sebastien@debian.org>, Elliot Saba <staticfloat@gmail.com>
Build-Depends: dpkg-dev (>= 1.16.1~), debhelper (>= 9), dh-exec,
 libdouble-conversion-dev, libsuitesparse-dev, gfortran, libmpfr-dev, zlib1g-dev,
 libgmp-dev, libunwind7-dev | libunwind8-dev, libfftw3-dev, libpcre3-dev (>= 8.31),
 libarpack2-dev, librmath-julia-dev, patchelf, curl, python-sphinx, python-sphinx-rtd-theme
Build-Conflicts: libatlas3-base
Standards-Version: 3.9.4
Section: science
Homepage: http://julialang.org
Vcs-Git: git://git.debian.org/git/pkg-julia/julia.git
Vcs-Browser: http://git.debian.org/?p=pkg-julia/julia.git

Package: julia
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
# NB: several shared libs have to be hardcoded because they are dlopen'd from
# Julia scripts, and therefore dpkg-shlibdeps cannot detect them
Depends: ${shlibs:Depends}, ${misc:Depends},
 libopenblas-base, liblapack3 | libatlas3-base, libpcre3 (>= 8.31), libfftw3-3,
 libcholmod1.7.1 | libcholmod2.1.2, libumfpack5.4.0 | libumfpack5.6.2, libgmp10, zlib1g, libarpack2,
 librmath-julia-dev, libmpfr4
Recommends: git
Suggests: ess (>= 12.09-1~), julia-doc
Description: high-performance programming language for technical computing
 Julia is a high-level, high-performance dynamic programming language for
 technical computing, with syntax that is familiar to users of other technical
 computing environments. It provides a sophisticated compiler, distributed
 parallel execution, numerical accuracy, and an extensive mathematical function
 library. The library, mostly written in Julia itself, also integrates mature,
 best-of-breed C and Fortran libraries for linear algebra, random number
 generation, FFTs, and string processing. Julia programs are organized around
 defining functions, and overloading them for different combinations of
 argument types (which can also be user-defined).
 .
 This package provides a complete Julia installation (JIT compiler, standard
 library, text-based user interface).

Package: julia-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}, libjs-jquery, libjs-underscore, python-sphinx-rtd-theme
Suggests: julia
Description: high-performance programming language for technical computing (documentation)
 Julia is a high-level, high-performance dynamic programming language for
 technical computing, with syntax that is familiar to users of other technical
 computing environments. It provides a sophisticated compiler, distributed
 parallel execution, numerical accuracy, and an extensive mathematical function
 library. The library, mostly written in Julia itself, also integrates mature,
 best-of-breed C and Fortran libraries for linear algebra, random number
 generation, FFTs, and string processing. Julia programs are organized around
 defining functions, and overloading them for different combinations of
 argument types (which can also be user-defined).
 .
 This package contains the Julia manual, which describes the language and its
 standard library. It also contains example Julia programs.
