#!/usr/bin/make -f

include /usr/share/dpkg/default.mk

# Set platform-specific flags
ifeq ($(DEB_HOST_ARCH_CPU),i386)
TAR_ARCH=i686
endif

ifeq ($(DEB_HOST_ARCH_CPU),amd64)
TAR_ARCH=x86_64
endif

ifeq ($(DEB_HOST_ARCH_CPU),armhf)
TAR_ARCH=arm
endif

ifeq ($(DEB_HOST_ARCH_CPU),ppc64le)
TAR_ARCH=ppc64le
endif

%:
	dh $@

override_dh_auto_install:

override_dh_auto_build-arch:
	mkdir -p usr
	(cd usr; tar --strip-components=1 -zxvf ../julia-*-linux-$(TAR_ARCH).tar.gz)

override_dh_auto_clean:
	rm -rf usr

override_dh_strip:
	dh_strip -Xjulia
	# explicitly strip libjulia*
	strip usr/lib/libjulia*.so

override_dh_compress:
	dh_compress -X.jl

override_dh_shlibdeps:
	dh_shlibdeps -lusr/lib/julia
	

get-orig-source:
	wget -c https://julialang.s3.amazonaws.com/bin/linux/x86/0.5/julia-0.5.0-linux-i686.tar.gz
	wget -c https://julialang.s3.amazonaws.com/bin/linux/x64/0.5/julia-0.5.0-linux-x86_64.tar.gz
	wget -c https://julialang.s3.amazonaws.com/bin/linux/arm/0.5/julia-0.5.0-linux-arm.tar.gz
	wget -c https://julialang.s3.amazonaws.com/bin/linux/ppc64le/0.5/julia-0.5.0-linux-ppc64le.tar.gz
